body {
  background-color: #363636;
}

#root {
  margin: 0 auto;
  color:white;
  max-width: 1280px;
  width: 100%;
  min-width: 320px;
}

.main {
  margin: 0 auto;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

