header {
  display: flex;
}

.hamburger-menu {
  margin:0 0 0 auto;
}

.logout-button{
  border: none;
  background: none;
  color:white;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user{
  &__name, &__id, &__redDate{
    font-size: calc( (100vw - 50rem)/50 * 0.5 + 1rem);
    margin:0;
    margin-bottom: 6px;
  }
}

.menu {
  &__container {
    margin-right: 30px;
    visibility: hidden;
  }

  &__button {
    margin:0 0 0 auto;
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    @media  screen and (max-width: 1279px) {
      & {
        margin-right: 30px;
      }
    }
  }

  &__icon{
    font-size: 30px;
  }
}

#menu__toggle {
  opacity: 0;

  &:checked {
    & ~ .menu__button > span {
      transform: rotate(45deg);
    }

    & ~ .menu__button > span::before {
      top: 0;
      transform: rotate(0);
    }

    & ~ .menu__container {
      visibility: visible;
      left: 0;
    }
  }
}